/*--------------------------------------------------------------------------- Universal Styling */

:root {
    --main-color: #333;
    --secondary-color: rgb(142, 142, 142);
    --font-size-small: 0.95rem;
    --font-size-large: 1.6rem;
}

body {
    font-family: "Inter Tight Variable", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: var(--main-color);
    display: inline;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 20px;
    cursor: none;
    overflow-x: hidden;
}

h1 {
    font-family: "Articulat CF", sans-serif;
    font-weight: bold;
    font-size: var(--font-size-large);
    margin-bottom: 25px;
}

h2 {
    font-family: "Articulat CF", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 100px;
    margin-bottom: 20px;
}

p {
    font-family: "Inter Tight Variable", sans-serif;
    font-weight: 300;
    font-size: var(--font-size-small);
    line-height: 1.8;
    margin-bottom: 35px;
}

.container {
    max-width: 690px;
    margin: auto;
    padding: 26px;
    box-sizing: border-box;
    text-align: left;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------- Navigation Bar Styling */

a {
    color: #000;
    text-decoration: underline;
    transition: opacity 0.28s ease, text-decoration-color 0.28s ease;
}

a:hover {
    opacity: 0.7;
    text-decoration-color: transparent;
}

nav {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: right;
    font-family: "Articulat CF", sans-serif;
    font-weight: 400;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: normal;
}

nav ul li a.current {
    text-decoration: none;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

/*----------------------------------------------------------------------- Page Specific Styling */

#members, #leadership, #projects, #about {
    padding-top: 100px;
}

/*-------------------------------------------------------------------- Section Specific Styling */

#executive-board a, #representatives a, #leads a {
    color: var(--secondary-color);
    text-decoration: underline;
    transition: opacity 0.28s ease, text-decoration-color 0.28s ease;
}

/*----------------------------------------------------------------------- Dynamic Table Styling */

.dynamic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.dynamic-table td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--font-size-small);
    border-bottom: 1px solid #ddd;
}

.dynamic-table td.right {
    color: var(--secondary-color);
    text-align: right;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.dynamic-table td.left {
    opacity: 1;
    transition: opacity 0.6s ease;
}

.tooltip {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.874);
    color: rgb(83, 83, 83);
    padding: 20px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.6s ease;
    text-align: left;
    white-space: normal;
    max-width: 280px;
    word-wrap: break-word;
    pointer-events: none;
    line-height: 1.5;
}

.hidden-row {
    display: none;
    max-height: 0;
    color: var(--secondary-color);
    opacity: 0;
    overflow: hidden;
    white-space: normal; /* Ensure the text wraps fully */
}

.hidden-row td {
    padding: 20px;
}


/* Slide In and Slide Out Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: max-content;; /* Adjust based on content, or use max-content for automatic height */
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        max-height: max-content; /* Adjust based on content */
    }
    to {
        opacity: 0;
        max-height: 0;
    }
}


/*------------------------------------------------------------------------------ Footer Styling */

.footer-top {
    padding-top: 40px;
    border-top: 1px solid #ccc;
    margin-top: 50px;
    text-align: left;
    font-family: "Articulat CF", sans-serif;
    font-weight: normal;
}

.footer-top ul {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.footer-top ul li {
    display: inline;
    margin-right: 10px;
    font-size: 0.85rem;
}

.footer-top ul li:not(:last-child)::after {
    content: " · ";
    margin-left: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: "Inter Tight Variable", sans-serif;
    font-weight: 300;
}

.footer-bottom p {
    font-size: 0.8rem;
    color: #666;
    margin: 0;
}

.footer-bottom .logo {
    width: 40px;
    display: inline-block;
    margin-left: auto;
}

.signature p {
    font-size: 0.8rem;
    text-align: center;
    color: rgb(195, 195, 195);
}

/*------------------------------------------------------------------- Screen Bounds Adjustments */

@media (max-width: 768px) {
    h1 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    h2 {
        font-family: "Articulat CF", sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        font-family: "Inter Tight Variable", sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 1.8;
        margin-bottom: 35px;
    }

    .container {
        padding: 20px;
    }

    nav ul li {
        font-size: 0.8rem;
        margin-left: 8px;
    }

    #members, #leadership, #projects, #about {
        padding-top: 10px;
    }

    .dynamic-table td {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 0.8rem;
        border-bottom: 1px solid #ddd;
    }

    .tooltip-row.hidden-row {
        display: none;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .tooltip-row.expanded + .hidden-row {
        display: table-row;
    }
    
    .footer-top ul li {
        display: inline;
        margin-right: 1px;
        font-size: 0.6rem;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: "Inter Tight Variable", sans-serif;
        font-weight: 300;
    }

    .footer-bottom p {
        font-size: 0.6rem;
        color: #666;
        margin: 0;
    }

    .signature p {
        font-size: 0.6rem;
        text-align: center;
        color: rgb(195, 195, 195);
    }
}